@media(min-width:500px){
    footer{
        flex-direction: initial;
        justify-content: space-around;
        height: 100px;
    }
}

@media (min-width:680px){
    .contenedor__secciondos{
        overflow: hidden;
        flex-wrap: wrap;
    }
    .contenedor__secciondos article{
        display: flex;
    }
    .contenedor__imagengrande--secciondos{
        justify-content: start;
    }
    .nav__mobile,.contenedor__desplegable--mobile{
        display: none;
    }
    .nav__desktop, ul{
        display: flex;
    }
    .nav__desktop ul, li a{
        list-style: none;
        text-decoration: none;
        color: white;
        font-size: var(--lm);
        padding: 0 15px;
        font-weight: 500;
    }
    
}
@media(min-width:800px){
    .contenedor__desktop--seccionuno{
        display: flex;
        justify-content: center;
    }
}
@media (min-width:1026px){
    .contenedor__secciondos--plus{
     display: flex;
    }
    .contenedor__secciondos{
        flex-direction: column;
    }
    .contenedor__imagengrande--secciondos{
        padding-top: 0px;
    }
    .contenedor__imagengrande--secciondos img{
        width: 700px;
        border-radius: 0
    }
    .contenedor__secciondos{
        padding-top: 0;
        padding: 0 30px;
    }
    .contenedor__secciondos img{
        width: 140px;
    }
}
@media(min-width:1500px){
    
}